body {
    max-width: 1280px;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gallery-item {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 600px) {
    .gallery-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .gallery-item {
        width: 33.33%;
    }
}